.description__main-text {
  max-width: 720px;
  font-size: 16px;
  line-height: 1.63;
  margin: 0 0 0 148px;
}

@media screen and (max-width: 1100px) {
  .description__main-text {
    margin: 0 auto 0;
  }
}

@media screen and (max-width: 755px) {
  .description__main-text {
    max-width: 400px;
    margin: 0 auto 0;
  }
}

@media screen and (max-width: 506px) {
  .description__main-text {
    max-width: 288px;
    margin: 0 auto 0;
  }
}
