.gallery {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(4, 284px);
  gap: 16px;
  max-width: 1184px;
  margin: 118px auto 0;
  padding: 0;
  justify-content: center;
}

@media screen and (max-width: 1250px) {
  .gallery {
    grid-template-columns: repeat(3, 284px);
    max-width: 800px;
    margin: 90px auto 0;
    gap: 12px;
  }
}

@media screen and (max-width: 1100px) {
  .gallery {
    grid-template-columns: repeat(2, 352px);
    max-width: 720px;
  }
}

@media screen and (max-width: 900px) {
  .gallery {
    grid-template-columns: 300px;
    max-width: 700px;
  }
}

@media screen and (max-width: 470px) {
  .gallery {
    grid-template-columns: 288px;
    max-width: 500px;
  }
}

@media screen and (max-width: 320px) {
  .gallery {
    max-width: 288px;
  }
}
