/*.gallery {
  display: flex;
  justify-content: start;
  max-width: 1184px;
  flex-wrap: wrap;
  margin: 118px auto 0;*/
}

.gallery {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 16px;
    max-width: 1184px;
    margin: 118px auto 0;
  }
