.city {
  display: grid;
  justify-content: center;
  grid-template-rows: auto max-content auto;
  grid-template-columns: 460px 1fr;
  column-gap: 40px;
  row-gap: 48px;
  margin: 0 auto 80px;
  grid-template-areas:
    "title artist"
    "image description"
    "button .";
}

@media screen and (max-width: 1029px) {
  .city {
    grid-template-columns: 340px 1fr;
    grid-template-rows: auto 340px auto;
    margin: 0 auto 72px;
    column-gap: 28px;
  }
}

@media screen and (max-width: 750px) {
  .city {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin: 0 auto 50px;
    row-gap: 30px;
    grid-template-areas:
      "title"
      "artist"
      "image"
      "description"
      "button";
  }
}

.city:last-child {
  margin-bottom: 0;
}
