.description__quote {
  max-width: 720px;
  font-size: 24px;
  line-height: 34px;
  margin: 40px 0 10px 148px;
}

@media screen and (max-width: 1100px) {
  .description__quote {
    margin: 40px auto 10px;
  }
}

@media screen and (max-width: 755px) {
  .description__quote {
    max-width: 400px;
    font-size: 24px;
    line-height: 1.25;
    margin: 40px auto 10px;
  }
}

@media screen and (max-width: 506px) {
  .description__quote {
    max-width: 288px;
    font-size: 24px;
    line-height: 1.25;
    margin: 40px auto 10px;
  }
}
