.cover__paragraph {
  max-width: 280px;
  font-size: 18px;
  line-height: 1.23;
  text-align: center;
  margin: 0;
}

@media screen and (max-width: 680px) {
  .cover__paragraph {
    font-size: 14px;
    line-height: 1.15;
    text-align: center;
    margin: 0;
  }
}
