.cover__paragraph {
  max-width: 256px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.23;
  text-align: center;
  margin: 0 auto;
}

@media screen and (max-width: 680px) {
  .cover__paragraph {
    max-width: 199px;
    font-size: 14px;
    line-height: 1.15;
  }
}
