.cover__paragraph {
  max-width: 280px;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  margin: 0 auto 32px;
}

@media screen and (max-width: 680px) {
  .cover__paragraph {
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    margin: 0 auto 16px;
  }
}
