.city__paragraph {
  max-width: 484px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.63;
  margin-bottom: 25px;
  margin-top: 0;
}

.city__paragraph:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  .city__paragraph {
    max-width: 352px;
    font-size: 16px;
    line-height: 1.62;
  }
}

@media screen and (max-width: 680px) {
  .city__paragraph {
    max-width: 600px;
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media screen and (max-width: 380px) {
  .city__paragraph {
    max-width: 280px;
  }
}
