.cover__container {
  position: relative;
  margin: 0 auto 92px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../../../Images/field_and_sky_2.jpg);
  max-width: 1184px;
  min-height: 740px;
  color: white;
  z-index: 1;
  background-size: cover;
}

.cover__container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(42, 44, 47, 0.3);
  z-index: -1;
}

.cover__container:hover::after {
  background-color: rgba(42, 44, 47, 0.8);
  cursor: default;
}

@media screen and (max-width: 768px) {
  .cover__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 746px;
    background-image: url(../../../Images/field_and_sky_2.jpg);
    background-size: cover;
    margin: 0 auto 64px;
  }
}

@media screen and (max-width: 680px) {
  .cover__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    min-height: 254px;
    background-image: url(../../../Images/field_and_sky_2.jpg);
    background-size: cover;
    margin: 0 auto 64px;
  }
}
