.city__title {
  grid-area: title;
  max-width: 460px;
  font-size: 72px;
  font-weight: 900;
  line-height: 1.05;
  align-self: end;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .city__title {
    max-width: 340px;
    font-size: 42px;
    line-height: 1.1;
  }
}

@media screen and (max-width: 680px) {
  .city__title {
    max-width: 310px;
    font-size: 38px;
    line-height: 1.05;
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media screen and (max-width: 380px) {
  .city__title {
    max-width: 288px;
    font-size: 32px;
    line-height: 1.1;
    margin-left: 16px;
    margin-right: 16px;
  }
}
