.footer__copywrite {
  margin: auto;
  font-size: 14px;
  line-height: 1.15;
  max-width: 165px;
  max-height: 16px;
}

@media screen and (max-width: 320px) {
  .footer__copywrite {
    line-height: 1;
    max-height: 14;
  }
}
