.city__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 248px;
  height: 48px;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.23;
  color: white;
  text-decoration: none;
  background-color: #0278fe;
  border-radius: 4px;
}

.city__button:hover {
  background-color: #0063d2;
  cursor: pointer;
}

@media screen and (max-width: 680px) {
  .city__button {
    margin-left: 16px;
    margin-right: 16px;
  }
}
@media screen and (max-width: 380px) {
  .city__button {
    width: 288px;
  }
}
