.header__subtitle {
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
  max-width: 720px;
  margin: 0 0 64px 0;
}

@media screen and (max-width: 768px) {
  .header__subtitle {
    margin: 0 0 36px 0;
  }
}
@media screen and (max-width: 500px) {
  .header__subtitle {
    max-width: 400px;
    font-size: 26px;
    line-height: 1.2;
  }
}

@media screen and (max-width: 320px) {
  .header__subtitle {
    max-width: 288px;
    font-size: 16px;
    line-height: 1.3;
    margin: 0 0 40px 0;
  }
}
