@import url(../vendor/normalize.css);
@import url(../fonts/fonts.css);
@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/logo/logo.css);
@import url(../blocks/lead/lead.css);
@import url(../blocks/lead/__title/lead__title.css);
@import url(../blocks/lead/__subtitle/lead__subtitle.css);
@import url(../blocks/lead/__main-illustration/lead__main-illustration.css);
@import url(../blocks/description/description.css);
@import url(../blocks/description/__header/description__header.css);
@import url(../blocks/description/__quote/description__quote.css);
@import url(../blocks/description/__quote-author/description__quote-author.css);
@import url(../blocks/description/__main-text/description__main-text.css);
@import url(../blocks/gallery/gallery.css);
@import url(../blocks/gallery/__image/gallery__image.css);
@import url(../blocks/cities/cities.css);
@import url(../blocks/city/city.css);
@import url(../blocks/city/__title/city__title.css);
@import url(../blocks/city/__artist/city__artist.css);
@import url(../blocks/city/__arist-heading/city__arist-heading.css);
@import url(../blocks/city/__arist-name/city__arist-name.css);
@import url(../blocks/city/__image/city__image.css);
@import url(../blocks/city/__description/city__description.css);
@import url(../blocks/city/__paragraph/city__paragraph.css);
@import url(../blocks/city/__button/city__button.css);
@import url(../blocks/cover/__container/cover__container.css);
@import url(../blocks/cover/__button/cover__button.css);
@import url(../blocks/cover/__heading/cover__heading.css);
@import url(../blocks/cover/__paragraph/cover__paragraph.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copywrite/footer__copywrite.css);
