.cities {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto 92px;
  max-width: 987px;
}

@media screen and (max-width: 1030px) {
  .cities {
    max-width: 720px;
  }
}

@media screen and (max-width: 320px) {
  .cities {
    margin: 0 auto 64px;
    max-width: 320px;
  }
}
