.header__main-illustration {
  max-width: 984px;
  max-height: 615px;
}

@media screen and (max-width: 1100px) {
  .header__main-illustration {
    width: 100%;
    max-height: auto;
    object-fit: cover;
  }
}

@media screen and (max-width: 320px) {
  .header__main-illustration {
    width: 100%;
    max-height: auto;
    object-fit: cover;
  }
}
